# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignorar pastas de compilação e binários (Home-Cockpit-Panel)
/bin/
/build/
/obj/

# Ignorar arquivos temporários do CodeBlocks
*.cbp
*.layout
*.depend
*.workspace

# Ignorar logs
*.log

# Ignorar arquivos do sistema operacional (caso existam)
Thumbs.db
.DS_Store

# Ignorar planilhas e documentos
.xlsx
.xlsm
